@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Панель официанта";
    if (ViewBag.ShiftNotFound == true)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Невозможно присоеденится к смене</strong> Возмнжно, менеджер еще не начал ее
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        ViewBag.ShiftNotFound = false;
    }
    <h3>Панель официанта @ViewBag.Waiter.User.Name</h3>
    if (ViewBag.Waiter.IsWorkingNow == false)
    {
        @Html.ActionLink("Присоеденится к смене", "AddWaiterToShift", "Waiter", htmlAttributes: new { @class = "btn btn-primary" }, routeValues: new { id = ViewBag.Waiter.Id });
    }
    if (ViewBag.Waiter.IsWorkingNow == true)
    {
        @Html.ActionLink("Закончить работу", "RemoveWaiterFromShift", "Waiter", htmlAttributes: new { @class = "btn btn-danger" }, routeValues: new { id = ViewBag.Waiter.Id });
        @Html.Action("CreateOrder");
            }

        }
